

<body class="main-content">

    <!-- Scroll Image -->
    <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-4 col-4 lft-scroll-box">
            <div class="image-scroll-box">
                <table>
                    <tr>
                        <img mat-card-image src="assets/3.jpeg" alt="img" width="40rem" height="40rem">
                    </tr>
                    <tr>
                        <img mat-card-image src="assets/4.jpeg" alt="img" width="40rem" height="40rem">
                    </tr>
                    <tr>
                        <img mat-card-image src="assets/5.jpeg" alt="img" width="40rem" height="40rem">
                    </tr>
                    <tr>
                        <img mat-card-image src="assets/6.jpeg" alt="img" width="40rem" height="40rem">
                    </tr>
                    <tr>
                        <img mat-card-image src="assets/2.jpg" alt="img" width="40rem" height="40rem">
                    </tr>
                </table>


            </div>

           

        </div>

        <!-- Main Image of the product -->
        <div class="col-lg-4 col-md-8 col-sm-8 col-8">
            <div class="row">

                <div class="col-lg-9 col-md-6 col-sm-12">
                    <img mat-card-image src="assets/1.jpg" alt="img" width="300rem" height="300rem">
                </div>

                <div class="col-lg-3">

                </div>


            </div>

             <!-- User Profile -->
             <div class="row">
               
                <div class="user-profile-box col-lg-9 col-md-6 col-sm-12">
                    <mat-card class="example-card">
                        <mat-card-subtitle>Product Owner Details</mat-card-subtitle>
                        
                        <mat-card-content>
                           <div class="product-owner">
                            <div>
                                <table>
                                    <tr>
                                        <td>
                                            <div class="product-owner-details col-sm-12">
                                                <mat-icon >account_circle</mat-icon>
                                            </div>
                                        </td>
                                        <td>

                                            <div class="product-ownerss">
                                                <p >raju@gmail.com</p>
                                            </div>
                                            
                                        </td>
                                       

                                        
                                        <td>
                                            <div class="product-owner-details col-lg-6 col-md-6 col-sm-12 ">
                                                <mat-icon style="color:blue">grade</mat-icon>
                                                <mat-icon style="color:blue">grade</mat-icon>
                                                <mat-icon style="color:blue">grade</mat-icon>
                                                <mat-icon style="color:blue">grade</mat-icon>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                           </div>
                           <div class="produuct-owners">
                            
                           </div>
                        </mat-card-content>
                        
                        <mat-card-actions align="end" >
                            <button mat-raised-button color="primary">Add to Wishlist</button>
                            <button mat-raised-button  style="background: #43DB52; color:white">Chat</button>
                         
                        </mat-card-actions>
                        
                      </mat-card>
                </div>
                <div class="col-lg-3"></div>
            </div>
            <!-- User Profile -->
            <div class="row">
               
                <div class="col-lg-3"></div>
            </div>
        </div>

        <div class="col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="row">
                <div class="col-lg-11">
                    <!-- Product Name -->
                    <div>
                        <h1>OnePlus 9r</h1>
                    </div>

                    <!-- Address and post date -->
                    <div class="row">

                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <p>Patna, Bihar</p>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6" >
                            <p >Payment Mode</p>
                            <p >Year of purchase</p>
                        </div>
                       <div class="col-lg-4 col-md-4 col-sm-6" post-date>
                            <p>Posted :15-Jul, 2022</p>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-lg-6 col-md-4 col-sm-6">
                            <p><i class="fa-solid fa-coins"></i>20000</p>
                        </div>

                        <div class="col-lg-6 col-md-4 col-sm-6"post-date>
                            <button mat-raised-button color="primary">Exchange</button>
                        </div>
                    </div>
                    <!-- Preferences -->

                    <div class="preference" >
                        <p >Preferences</p>

                        <div>
                            <table>
                                <tr>
                                    <td>
                                        <div class="preference-chip">
                                            <button mat-raised-button>Book</button>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="preference-chip">
                                            <button mat-raised-button>Vivo Phone</button>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="preference-chip">
                                            <button mat-raised-button>Heater</button>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="preference-chip">
                                            <button mat-raised-button>Headphone</button>
                                        </div>
                                    </td>
                                </tr>
                            </table>


                        </div>

                    </div>

                    <!-- Description box -->

                    <div>
                        <div class="description-text-box">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint maiores sunt, excepturi cum
                                non, ullam rem vel sed optio ducimus, atque reprehenderit sequi odit architecto
                                sapiente. Ex minima eaque illum?
                            </p>
                           </div>
                        <div class="user-profile-box-review col-lg-9">
                            <p>Review</p>
                            <p>username</p>
                            <p>Review Message</p>
                        </div>
                    </div>

                </div>
               
            </div>

        </div>
 </div>

</body>



