

<div class="container1">
    <div class="imga"><img src="assets/3.jpeg" alt="" width="50rem" height="50rem" style=" margin-left: 5rem"></div>
    <div class="imga"><img src="assets/4.jpeg" alt="" width="50rem" height="50rem" style=" margin-left: 5rem"></div>
    <div class="imga"><img src="assets/5.jpeg" alt="" width="50rem" height="50rem" style=" margin-left: 5rem"></div>
    <div class="imga"> <img src="assets/6.jpeg" alt="" width="50rem" height="50rem"style=" margin-left: 5rem" ></div>
    
</div>

<div class="container2">
    <img src="assets/1.jpg" alt="img" width="200" height="215rem">
</div>

<div class="container3">
    <p>oneplus 9r</p>
    <p>bihar,patna</p>
    
</div>