


.container{
    
    width: 15rem;
    margin-top: 10rem;
    margin-left: 5rem;
    
}

.material-icons-user{
    display: inline;
}
.container1{
    margin-left: 3rem;
    width: 20rem;
}
mat-raised button{
    float:left;
}
.scroll-ele{
    overflow-y: scroll;
    width: 50rem;
    margin-left: 25rem;
    margin-top: -25rem;
    background-color: blueviolet;
}
.container4{
    margin-top: 3rem;
    margin-left: 3rem;
    width: 20rem;
    
}
.container5{
    margin-top: -2rem;
    display: inline;
}