<div class="center-wrapper">
    <div class="content">
        <form >
            <div class="top-bar" style="text-align: center;">
                <h2>Payment</h2>
            </div>

            <div class="bag-product">

                <div class="description">
                    <p class="product-code small muted">Product ID: SS022592000</p>
                    <h2>One Plus 9r</h2>
                    <p class="description-text">OnePlus 9R ; Performance. Operating System: OxygenOS based on Android™
                        11. CPU: Qualcomm® Snapdragon™ 870. 5G Chipset: X55. GPU: Adreno 650. RAM: 8GB/12GB.</p>
                    

                </div>
            </div>
            <div class="bag-total">
                <div class="total">
                    <h3>Total:</h3>
                    <h3><i class="fa-solid fa-coins" style="margin-right: 0.5rem; margin-left: 0.5rem"></i>825.00</h3>
                  </div>
                <div class="promo-checkbox">
                    <div class="form-group">
                            <input type="checkbox" name="promo-check" name="mode" id="coin" value="coin"  >
                            <i class="fa-solid fa-coins" style="margin-right: 0.5rem; margin-left: 0.5rem"></i>
                            <label for="promo-check">Both</label>
                       
                    </div>
                    <h3>Available Coin:400<i class="fa-solid fa-coins" style="margin-right: 0.5rem; margin-left: 0.5rem"></i> </h3>
                    <!-- <h3 style="color: red;">{{errorMessage}}</h3> -->
                </div>

                <button mat-raised-button style="background: hsla(106, 86%, 57%, 0.762)" type="submit"
                  >
                    Request Exchange
                </button>
                <span class="pl-lg-3">
                <button mat-raised-button mat-button color="primary" type="submit">
                Add More Coin
            </button>
        </span>
                <!-- <button type="button" class="btn btn-success">
                <span>Request Exchange</span>
            </button> -->
            </div>
        </form>
    </div>
</div>