<div class="center-wrapper">
    <div class="content">

        <div class="top-bar" style="text-align: center;">
            <h2>Payment</h2>
        </div>
        <div class="bag-product">

            <div class="description">
                <p class="product-code small muted">Product ID: SS022592000</p>
                <h2>One Plus 9r</h2>
                <p class="description-text">OnePlus 9R ; Performance. Operating System: OxygenOS based on Android™
                    11. CPU: Qualcomm® Snapdragon™ 870. 5G Chipset: X55. GPU: Adreno 650. RAM: 8GB/12GB.</p>
                
                    <i class="fa-solid fa-arrow-down-arrow-up" style="margin-top: 0.5rem; margin-bottom: 0.5rem"></i>
            </div>
        </div>
       
        <div class="bag-total">
           
        </div>
        <div class="bag-product">

            <div class="description">
                <p class="product-code small muted">Product ID: SS83878947</p>
                <h2>Samsung Galaxy A23</h2>
                <p class="description-text">Galaxy A23 · 50MP Quad Cam with OIS · Powerful Snapdragon processor · 16.72cm (6.6") FHD+ 90Hz Smooth Display. GPU: Adreno 650. RAM: 8GB/12GB.</p>
                

            </div>
        </div>
        <div class="exchange">


            <button mat-raised-button style="background: hsla(106, 86%, 57%, 0.762)" type="submit">
                Request Exchange
            </button>

            <!-- <button type="button" class="btn btn-success">
                <span>Request Exchange</span>
            </button> -->
        </div>

    </div>
</div>