
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home-page.component.css">
    <script src="home-page.component.js" defer></script>
    
    <title>SwapSquad</title>
</head>
<body>
    <nav class="navbar background">
        <ul class="nav-list">
            <div class="logo"><img src="image/logo.jpeg" alt="logo" /></div>
            <!-- <li><a href="#chat">CHAT</a> </li>
            <li><a href="#transaction">TRANSACTION</a> </li>
            <li><a href="#exchange">EXCHANGE</a> </li> -->
            <p class="Title"> SwapSquad</p>
        </ul>
        <div class="rightNav">
            
            <button class=" btn btn-sm" routerLink ="login">LOGIN</button>
            <button class=" btn btn-sm" routerLink ="registerUser">REGISTER </button>
        </div>
    </nav>
    <section class="background firstSection">
        <div class="boxMain">
            <div class="firstHalf">
                <p class="textBig"> Welcome to SwapSquad</p>
                <p class="textSmall1"> Here you can exchange your things 
                    by using your things or by using Barter Coins.
                </p>

            </div>
            <div class="secondHalf">
                <!-- <img src="image/home2.jpeg" alt="1" > -->
            </div>
        </div>
    </section>
    <section class="secRight">
        <div class="paras">
        <p class="sectionTag textBig">CHAT SERVICES</p>
        <p class="sectionSubTag textSmall">You can Chat with the person whom you are exchanging your Product.
             With the help of Chat Services you get the detailed information of product.
        </p>
    </div>
        <div class="thumbnail">
            <img src="image/Chat Service.jpeg" alt="Chat" class="fluid">
        </div>
    </section>
    <section class="secLeft">
        <div class="paras">
        <p class="sectionTag textBig">MAIL SERVICES</p>
        <p class="sectionSubTag textSmall"> When the Transaction is completed i.e you exchange the product
            You and exchanger both get a confirmation mail from SwapSquad.
        </p>
    </div>
        <div class="thumbnail">
            <img src="image/MailService.jpeg" alt="Chat" class="fluid">
        </div>
    </section>
    <section class="secRight">
        <div class="paras">
        <p class="sectionTag textBig">TRANSACTION HISTORY</p>
        <p class="sectionSubTag textSmall">You can also have the access to all the transactions you have done.
            You may filter the transactions by using the TransactionId or the mailId.
        </p>
    </div>
        <div class="thumbnail">
            <img src="image/transactionHistory.jpeg" alt="Chat" class="fluid">
        </div>
    </section>
    <section class="secLeft">
        <div class="paras">
        <p class="sectionTag textBig">REFERAL</p>
        <p class="sectionSubTag textSmall"> Refer SwapSquad and earn 100 barter coin when you friend 
            join swapsqad , and for each transaction you get 25 Barter coins. Your friend get 50 Barter 
            coins as joining bonous.
        </p>
    </div>
        <div class="thumbnail">
            <img src="image/Coins.jpeg" alt="Chat" class="fluid">
        </div>
    </section>
    <footer>
        <ul class="textFooter">
         <!-- #+918734872689
         #swapsqad@gmail.com
         #New Delhi ,India -->
         <li> +918734872689</li>
         <li>swapsqad@gmail.com </li>
         <li> New Delhi ,India</li>
    </ul>
    <Z class="social">
    <img src="image/W.jpeg" alt="WhatsApp">
    <img src="image/I.jpeg" alt="Instagram">
    <img src="image/F.jpeg" alt="Facebook">
    <img src="image/T.jpeg" alt="Twitter">
</Z>
    </footer>
</body>
</html>