<app-navbar></app-navbar>
<router-outlet></router-outlet>



<button mat-button color="primary" routerLink="registerProduct">Register Product</button><br>
<button mat-button color="primary" routerLink="productDetail">Product Detail</button><br>
<button mat-button color="primary" routerLink="registerUser">Create Account</button><br>
<button mat-button color="primary" routerLink="recommendation-service">Recommendation Service</button><br>
<button mat-button color="primary" routerLink="updateDetails">Edit Profile</button><br>
<button mat-button color="primary" routerLink="transcations">Transcations</button><br>
<div class="content"><span >webapp app is running!</span>Transcations</div>
<button mat-button color="primary" routerLink="chat">Chat</button><br>
<button mat-button color="primary" routerLink="myProfile">My Profile</button><br>





<button mat-button color="primary" routerLink="navbar">Navigarion bar</button><br>



