<body>
  <mat-horizontal-stepper class="body">

    <!-- ===================Step 1 start here======================== -->

    <mat-step label="Step 1" state="phone">

      <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-10">
          <mat-card class="mat-custom-card">
            <div class="card-header card-custom-header">
              <!-- <h1 class="card-title card-category">Register Your Product</h1> -->
              <p class="card-category card-title h1 header-card-text">Register Your Product</p>
            </div>

            <form class="form-horizontal horizontal-card-form">
              <!-- style="background:blue" -->
              <!-- style="background:red" -->

              <div class="row">
                <label class="col-lg-2 col-md-2 labelname">Product Name</label>
                <mat-form-field class="col-lg-9 col-md-9">
                  <mat-label>Product Name</mat-label>
                  <input matInput />
                </mat-form-field>
                <div class="col-lg-1 col-md-1"></div>
              </div>

              <div class="row">
                <label class="col-md-2 labelname">Category</label>

                <mat-form-field class="col-md-3">
                  <mat-label>Select</mat-label>
                  <mat-select>
                    <div (click)="show(1)">
                    <mat-option value="one">Mobile, Tablet & Accessories</mat-option>
                    <mat-option value="two">Cars & Bikes</mat-option>
                    <mat-option value="three">Books & Sports</mat-option>
                    <mat-option value="four">Pets & Pet Care</mat-option>
                    <mat-option value="five">Electronics & Appliances</mat-option>
                    <mat-option value="six">Home & Life Styles</mat-option>
                  </div>
                    <mat-option value="seven" (click)="show(2)">Others</mat-option>
                  </mat-select>
                </mat-form-field>
                <div class="col-lg-1 col-md-1 col-sm-1 col-1"></div>

                <label class="col-md-2 labelname" *ngIf="othercatergory">If Other</label>
                <mat-form-field class="col-md-3" *ngIf="othercatergory">
                  <mat-label>Any</mat-label>
                  <input matInput />
                </mat-form-field>

                <div class="col-md-1"></div>
              </div>

              <div class="row">
                <div class="col-md-0"></div>
                <label class="col-md-2 labelname">Purchase Date</label>

                <mat-form-field class="col-md-3">
                  <mat-label>Choose a date</mat-label>
                  <input matInput [matDatepicker]="picker" />
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <div class="col-md-7"></div>
              </div>

              <div class="row">
                <div class="col-md-0"></div>
                <label class="col-md-2 labelname">Description</label>
                <div class="col-md-10"></div>
              </div>

              <div class="row">
                <div class="col-md-1"></div>

                <mat-form-field class="col-md-10">
                  <!-- <mat-label>Description</mat-label> -->
                  <textarea matInput></textarea>
                </mat-form-field>
                <div class="col-md-1"></div>
              </div>
            </form>
          </mat-card>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-1"></div>
      </div>

      <!-- For Photo Update -->
      <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-10">

          <mat-card class="step3-mat-custom-card">
            <div class="card-header step3-card-custom-header col-md-2">
              <!-- <h1 class="card-title card-category">Register Your Product</h1> -->
              <p class="card-category card-title h6 step3-header-card-text">Upload Photos</p>
            </div>
          </mat-card>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-1"></div>
      </div>
      <!-- Button setion -->
      <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-1"></div>
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-lg-10 col-md-10 col-sm-10 col-10 step-one-next-btn">
            <button mat-raised-button matStepperNext color="primary">Next</button>
          </div>
          <div class="col-md-1"></div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-1"></div>
      </div>
    </mat-step>

    <!-- ===================Step 1 ends here======================== -->

    <!-- ===================Step 2 start here======================== -->

    <mat-step label="Step 2" state="chat">



      <!-- For Exchange Mode  -->
      <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-10">

          <mat-card class="step3-mat-custom-card">
            <div class="card-header step3-card-custom-header col-md-2">
              <!-- <h1 class="card-title card-category">Register Your Product</h1> -->
              <p class="card-category card-title h6 step3-header-card-text">Exchange</p>
            </div>

            <form class="form-horizontal horizontal-card-form">
              <div class="row">
                <label class="col-md-2 step2-labelname">Exchange Mode</label>
                <div class="col-md-1"></div>
                <mat-radio-group aria-label="Select an option" class="col-md-7">
                  <mat-radio-button value="1" class="col-md-4" (click)="text(0)">

                    <i class="fa-solid fa-coins" style="margin-right: 0.5rem; margin-left: 0.5rem;"></i>
                    Coin
                  </mat-radio-button>
                  <mat-radio-button value="2" class="col-md-4" (click)="text(1)">
                    <i class="fa-solid fa-right-left" style="margin-right: 0.5rem; margin-left: 0.5rem;"></i>
                    Exchange
                  </mat-radio-button>
                  <mat-radio-button value="3" class="col-md-4" (click)="text(2)">
                    <i class="fa-solid fa-coins" style="margin-right: 0.5rem; margin-left: 0.5rem;"></i>
                    Both
                    <i class="fa-solid fa-right-left" style="margin-left: 0.5rem;"></i>
                  </mat-radio-button>
                </mat-radio-group>
                <div class="col-md-2"></div>
              </div>

              <div class="row" style="margin-top: 1rem;">
                <label class="col-md-2 labelname" *ngIf="coin">Coin</label>
                <mat-form-field class="col-md-3" *ngIf="coin">
                  <mat-label>Amount</mat-label>
                  <input matInput />
                </mat-form-field>

                <div class="col-md-1" *ngIf="blankspace"></div>

                <label class="col-md-2 labelname" *ngIf="preference">Preference</label>
                <mat-form-field class="col-md-3" *ngIf="preference">
                  <mat-label></mat-label>
                  <input matInput />
                </mat-form-field>

                <div class="col-md-1"></div>
              </div>
            </form>


          </mat-card>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-1"></div>
      </div>

      <!-- User Login Details  -->

      <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-10">

          <mat-card class="step3-mat-custom-card">
            <div class="card-header step3-card-custom-header col-md-2">
              <!-- <h1 class="card-title card-category">Register Your Product</h1> -->
              <p class="card-category card-title h6 step3-header-card-text">Your Detail</p>
            </div>

            <form class="form-horizontal horizontal-card-form">
              <div class="row">
                <label class="col-md-2 labelname">Confirm Email</label>

                <mat-form-field class="col-md-3">
                  <mat-label>Email</mat-label>
                  <input matInput />
                </mat-form-field>

                <div class="col-md-1"></div>

                <label class="col-md-2 labelname">Location</label>
                <mat-form-field class="col-md-3">
                  <mat-label>Place</mat-label>
                  <input matInput />
                </mat-form-field>

                <div class="col-md-1"></div>
              </div>
            </form>
          </mat-card>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-1"></div>
      </div>
      <!-- Button setion -->
      <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-1"></div>
        <div class="col-lg-5 col-md-5 col-sm-5 col-5 step-one-back-btn">
          <button mat-raised-button matStepperPrevious color="primary">Back</button>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 col-5 step-one-next-btn">
          <button mat-raised-button matStepperNext style="background: #43DB52;">Finish</button>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-1"></div>
      </div>
    </mat-step>
    <!-- ===================Step 2 ends here======================== -->

  </mat-horizontal-stepper>
</body>