.a{
    width: 800px;
    height: 250px;
    border: solid black ;
    margin-top: 10px;
    background-color: rgb(204, 255, 153);
  
  }
  
  .x{
    margin-left: 380px;
    margin-right: 30px;
    margin-top: 100px;
    position: absolute;
  }
  
  img {
    width: 150px;
    height: 210px;
    position: absolute;
  
  }
  
  .drop{
    position: absolute;
    margin-top: 0px;
    margin-left: 500px;
  }
  
  * {
    box-sizing: border-box;
  }