<body data-spy="scroll" data-target=".navbar" data-offset="50">
    <div>
        <!---Start navigation Bar -->
        <nav class="navbar navbar-expand-lg navbar fixed-top navbar-light">

            <a class="navbar-brand" href="" class=" col-lg-5 col-md-5 col-sm-5 col-12">
                <img src="assets/logo.jpeg" width="80" height="50" class="d-inline-block" alt="">
                <span class="Title"> SwapSquad</span>
            </a>
            <div class="rightNav col-lg-7 col-md-7 col-sm-7 col-12 mt-2">
                <button mat-raised-button color="accent" class="mr-3" routerLink="login">LOGIN</button>
                <button mat-raised-button color="accent" class="mr-4" routerLink="register-user">REGISTER </button>
            </div>

        </nav>
        <!--- End Navigation Bar -->

        <!--- Start Carousel -->
        <div class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100 img-fluid img-slider" src="assets/background.jpeg" alt="First slide"
                        style="height: 60vh;">
                    <div class="carousel-caption">
                        <h2>Welcome to SwapSquad</h2>
                        <p>Here you can exchange your things
                            by using your things or by using Barter Coins.</p>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <!--- End of Carousel -->
    <!--- Ristorante-->
    <div class="container">
        <div class="row bg-light"><br></div>
        <div class="row bg-light"><br></div>
        <div class="row bg-light hover-4">
            <div class="col-md-6 description">
                <h3>CHAT SERVICES</h3>
                <p>You can Chat with the person whom you are exchanging your Product.
                    With the help of Chat Services you get the detailed information of product.</p>

            </div>
            <div class="col-md-6 image-box">
                <img class="img-fluid" src="assets/chat.jpeg" width="200" height="200">
            </div>
        </div>
        <div class="row bg-light"><br></div>
        <div class="row bg-light hover-4">
            <div class="col-md-6 order-md-1 order-2 image-box">
                <img class="img-fluid " src="assets/MailService.jpeg" width="200" height="200">
            </div>
            <div class="col-md-6 order-md-12 description order-1">
                <h3>MAIL SERVICES</h3>
                <p>When the Transaction is completed i.e you exchange the product
                    You and exchanger both get a confirmation mail from SwapSquad.</p>
            </div>
        </div>
        <div class="row bg-light"><br></div>
        <div class="row bg-light hover-4">
            <div class="col-md-6 description">
                <h3>TRANSACTION HISTORY</h3>
                <p>You can also have the access to all the transactions you have done.
                    You may filter the transactions by using the TransactionId or the mailId.</p>

            </div>
            <div class="col-md-6 image-box">
                <img class="img-fluid" src="assets/transactionHistory.jpeg" width="200" height="200">
            </div>
        </div>
        <div class="row bg-light"><br></div>
        <div class="row bg-light hover-4">
            <div class="col-md-6 order-md-1 order-2 image-box">
                <img class="img-fluid " src="assets/Coins.jpeg" width="200" height="200">
            </div>
            <div class="col-md-6 order-md-12 description order-1">
                <h3>REFERAL</h3>
                <p>Refer SwapSquad and earn 100 barter coin when you friend
                    join swapsqad , and for each transaction you get 25 Barter coins. Your friend get 50 Barter
                    coins as joining bonous.</p>
            </div>
        </div>
        <div class="row bg-light"><br></div>

        <!--- End of Ristorante -->

        <div class="row footer bg-light">
            <div class="col">
                <p class="text-center">Follow us: <a class="social-icon"
                        href="https://www.facebook.com/rubiktechnologiesShpk/"><i class="fab fa-facebook"></i></a> <a
                        class="social-icon" href="https://www.instagram.com/rubiktechnologies/"><i
                            class="fab fa-instagram"></i></a></p>
            </div>
            <div class="col">
                <p class="text-center">Copyright &copy; 2022</p>
            </div>
        </div>
    </div>
</body>