body {
    font-family: 'Merienda';
    font-size: 15px;
}

.navbar {
    background-color: skyblue;
    display: flex;
}

.Title {
    font-family: 'Rubik Distressed', cursive;
    font-size: 180%;
}

.navbar-brand {}

.rightNav {
    display: flex;
    justify-content: right;
}

.nav-item {
    padding-right: 12px;
    padding-left: 12px;
}

.flag {
    max-height: 20px;
    max-width: 20px;
    margin-top: 10px;
}

.nav-link.active {
    background-color: lightgrey !important;
}

.prenota-container {
    position: relative;
}

.card-body {
    -webkit-transition: all 1s ease;
    /* Safari and Chrome */
    -moz-transition: all 1s ease;
    /* Firefox */
    -o-transition: all 1s ease;
    /* IE 9 */
    -ms-transition: all 1s ease;
    /* Opera */
    transition: all 1s ease
}

.card-body:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.prenota-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-prenota {
    opacity: 0.4;
    max-height: 750px;
}

.carousel-caption {
    top: 40%;
}

.img-slider {
    min-height: 320px;
}

.navMenu {
    padding-top: 75px;
    padding-bottom: 20px;
}

.card-img-top {
    height: 200px;
}

.mappa {
    height: 320px;
    padding-right: 10px;
}

@media screen and (max-width : 1920px) {
    .only-mobile {
        visibility: hidden;
    }
}

@media screen and (max-width : 506px) {

    .only-mobile {
        visibility: visible;
    }
}

.footer {
 
    margin-top: 30px;
    padding-top: 20px;
}

.social-icon {
    font-size: 28;
}

.image-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.description{
    display: grid;
  justify-content: center;
  align-content: center;
   
}

.hover-4 {
    border: 2px solid;
    /* border-image: repeating-linear-gradient(135deg,#F8CA00 0 10px,#E97F02 0 20px,#BD1550 0 30px) 8; */
    border-image: repeating-linear-gradient(135deg,#67abc4 0 10px, #1095c1 0 20px,#59c8f7 0 30px) 8;
    -webkit-mask: 
      conic-gradient(from 180deg at top 8px right 8px, #0000 90deg,#000 0)
       var(--_i,200%) 0  /200% var(--_i,8px) border-box no-repeat,
      conic-gradient(at bottom 8px left  8px,  #0000 90deg,#000 0)
       0   var(--_i,200%)/var(--_i,8px) 200% border-box no-repeat,
      linear-gradient(#000 0 0) padding-box no-repeat;
    transition: .3s, -webkit-mask-position .3s .3s;
    
  }
  .hover-4:hover {
    --_i: 100%;
    color: #CC333F;
    transition: .3s, -webkit-mask-size .3s .3s;
  }

  .hover-3 {
    --b: 0.1em;   /* the thickness of the line */
    --c: #1095c1; /* the color */
    
    color: #0000;
    padding-block: var(--b);
    background: 
      linear-gradient(var(--c) 50%,#000 0) 0% calc(100% - var(--_p,0%))/100% 200%,
      linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
    -webkit-background-clip: text,padding-box;
            background-clip: text,padding-box;
    transition: .3s var(--_s,0s) linear,background-size .3s calc(.3s - var(--_s,0s));
  }
  .hover-3:hover {
    --_p: 100%;
    --_s: .3s;
  }


  .hover-2 {
    --s: 0.1em;   /* the thickness of the line */
    --c: #1095c1; /* the color */
    
    color: #0000;
    padding-bottom: var(--s);
    background: 
      linear-gradient(90deg,var(--c) 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%,
      linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
    -webkit-background-clip: text,padding-box;
            background-clip: text,padding-box;
    transition: 0.5s;
  }
  .hover-2:hover {
    --_p: 100%
  }

  .hover-1 {
    color: #0000;
    background: 
      linear-gradient(90deg,#1095c1 50%,#000 0) 
      var(--_p,100%)/200% no-repeat;
    -webkit-background-clip: text;
            background-clip: text;
    transition: .4s;
  }
  .hover-1:hover {
    --_p: 0%;
  }

  .boxes{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
