.a{
    height: 100%;
    width: 100%;
}
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}   
@media only screen and (max-width: 767px) {
    .media {
          align-items: center !important;
      }
  } 

  
  .card:hover {
    border: 4px solid #e011bd;
}

.card {
    border: 1px solid #dd2476;
}