
  <p>
    <mat-toolbar>
      <span>User Registration Form</span>
    </mat-toolbar>
  </p>
 <!-- <p>{{ errorMessage }}</p> -->

    <form (ngSubmit)="userRegister()">
    
  
      
        <mat-form-field appearance="outline">
          <mat-label>First Name</mat-label>
          <input required type="text" name="firstname" [(ngModel)]="user.firstname" matInput placeholder="Enter Here">
         </mat-form-field>

     
 

        <mat-form-field appearance="outline">
          <mat-label>LastName</mat-label>
          <input   required type="text" class="form-control" id="lastname" name="lastname" [(ngModel)]="user.lastname" matInput placeholder="Enter Here">
         </mat-form-field>

      <div class="mb-3">

        <mat-form-field appearance="outline">
          <mat-label>Age</mat-label>
          <input  required type="text" class="form-control" id="age" name="age" [(ngModel)]="user.age" matInput placeholder="Enter Here">
         </mat-form-field>

       
      </div>
      <div class="mb-3">

        <mat-form-field appearance="outline">
          <mat-label>Mobile</mat-label>
          <input  required type="text" class="form-control" id="mobile" name="mobile" [(ngModel)]="user.mobile" matInput placeholder="Enter Here">
         </mat-form-field>

      </div>
      <div class="mb-3">

        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input  required type="email" class="form-control" id="email" name="email" [(ngModel)]="user.email" matInput placeholder="Enter Here">
         </mat-form-field>
       
     </div>
      <div class="mb-3">

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input  required type="password" class="form-control" id="password" name="password" [(ngModel)]="user.password" matInput placeholder="Enter Here">
         </mat-form-field>

      </div>
   
  
      <div class="mb-3">

        <label id="example-radio-group-label">Gender</label>
      <mat-radio-group name="gender"  required [(ngModel)]="user.gender">
        <mat-radio-button value="male">Male</mat-radio-button>
        <mat-radio-button value="female">Female</mat-radio-button>
    </mat-radio-group>

      </div>
   
    <button type="submit" mat-raised-button color="primary">Register</button>
    </form>

  

     
